extends layout

block content
  .container
    .text-center
      h1#msg_h1 About
      br
      p.description.lead-text We are proud to present you this website in partnership with French NGO "Médecins Sans Frontières".
      h2#msg_2 For migrants
      p.petite_description.lead-text When you are in difficulties, you can find on our website where you can find help, if you want by using your voice.
        br
        | We locate you and propose you offers near you.

      h2#msg_2 For individual and organisation
      p.petite_description.lead-text When you have infrastructures you want to share, we can be the mediator between you and people who are in need like refugees.
