extends layout

block content
  .container
    h2#msg_h2 #{asso.username} - organisation administration page
    p.lead Here you can do a lot of awesome thing !
    form.center-block(role='form', action="/add_event",method="post", style='max-width: 300px;')
      .form-group
        input.form-control(type='text', name="title", placeholder='Title')
      .form-group
        input.form-control(type='text', name="what", placeholder='What do you plan ?')
      select.form-control(name='category', id='category')
        option(disabled, selected) Select the category
        option(value='health') health
        option(value='bed') bed
        option(value='shower') shower
        option(value='eat') eat
      .form-group
        input.form-control(type='date', name="when", placeholder='When ?')
      .form-group
        input.form-control(type='text', name="where", placeholder='Where ?')
      button.btn.btn-default(type='submit') Add this event
