extends layout

block content
  script (src='https://code.responsivevoice.org/responsivevoice.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js")
  script.
    if (annyang) {
    // Let's define a command.
    var commands = {
      'hello': function() { console.log('Hello world!'); },
      'health': function(){  this.document.location.href = '/soins';},
      'shower': function(){  this.document.location.href = '/laver';},
      'eat': function(){ this.document.location.href = '/manger';},
      'bed': function(){ this.document.location.href = '/lit';},
      'help': function(){ responsiveVoice.speak("To load a page just say health or shower or eat or bed.");}
      };
    };

    // Add our commands to annyang
    annyang.addCommands(commands);

    annyang.addCallback('result', function(phrases) {
      console.log("I think the user said: ", phrases[0]);
      console.log("But then again, it could be any of the following: ", phrases);
    });

    // Start listening.
    annyang.start();


  h1= title
  h2#msg_h2
    | Need help?
  .row
    .col-md-3
    a(href="/soins")
      .col-md-2
        img(src="/images/hospital.svg")
    .col-md-2
    a(href="/lit")
      .col-md-2
        img(src="images/sleeping-bed-silhouette.svg")
    .col-md-3
  br
  br
  br
  .row
    .col-md-3
    a(href="/laver")
      .col-md-2
        img(src="/images/shower.svg")
    .col-md-2
    a(href="/manger")
      .col-md-2
        img(src="images/restaurant.svg")
    .col-md-3
