extends layout

block content

  script.
    if (annyang) {

    // définition des commandes vocales
    var commands = {
      'hello': function() { console.log('Hello world!'); },
      'health': function(){ responsiveVoice.speak("You are now reaching the page to get healed"); this.document.location.href = '/soins';},
      'shower': function(){ responsiveVoice.speak("You are reaching the page to find a place to shower."); this.document.location.href = '/laver';},
      'eat': function(){ responsiveVoice.speak("You are reaching the page to help you find a place to eat"); this.document.location.href = '/manger';},
      'bed': function(){ responsiveVoice.speak("You are reaching the page to help you find a place to sleep"); this.document.location.href = '/lit';},
      'help': function(){ responsiveVoice.speak("To load a page just say health or shower or eat or bed.");}
      };
    };

    // ajout des commandes et écoute
    annyang.addCommands(commands);
    });
    annyang.start();

  h1#msg_h1 #{title}
  br
  h2#msg_h2 If you need help, we care about you
  br
  .row
    .col-md-3

    form(action='/health', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="/images/hospital.svg", border="0", alt="Submit")

    .col-md-2

    form(action='/bed', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/sleeping-bed-silhouette.svg", border="0", alt="Submit")

    .col-md-3
  br
  br
  br
  .row
    .col-md-3

    form(action='/shower', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/shower.svg", border="0", alt="Submit")

    .col-md-2

    form(action='/eat', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/restaurant.svg", border="0", alt="Submit")

    .col-md-3

  script.
    window.onload = function() {
      var geoSuccess = function(position) {
        startPos = position;
        document.getElementById('startLat').value = startPos.coords.latitude;
        document.getElementById('startLon').value = startPos.coords.longitude;
      };

      navigator.geolocation.getCurrentPosition(geoSuccess);
    };
