extends layout

block content

  h1= title
  h2#msg_h2
    | Need help ?
  .row
    .col-md-3
    a(href="/health")
      .col-md-2
        img(src="/images/hospital.svg")
    .col-md-2
    a(href="/bed")
      .col-md-2
        img(src="images/sleeping-bed-silhouette.svg")
    .col-md-3
  br
  br
  br
  .row
    .col-md-3
    a(href="/shower")
      .col-md-2
        img(src="/images/shower.svg")
    .col-md-2
    a(href="/eat")
      .col-md-2
        img(src="images/restaurant.svg")
    .col-md-3
  .row
    if(user)
      h2#msg_h2
        | Welcome back #{user.name} :)
      p
        | Do you want to go to your&nbsp;
        a(href="/asso") admin. page
        | &nbsp;?
    if(!user)
      h2#msg_h2
        | Want to help ?
      p You're a organisation that want to act for refugees ? We need you ! &nbsp;
        a(href="/register") Subscribe here to offer your services !
        br
      p Already a member ? Just&nbsp;
        a(href="/login") log in !
