extends layout

block content

  script.
    var flag = false;

    if (annyang) {

    // définition des commandes vocales
    var commands = {
      'start': function(){  flag = true; responsiveVoice.speak("Vocal service activated.");
      'health': function(){ if(flag){responsiveVoice.speak("Going to health service."); document.getElementById("formHealth").submit();}},
      'shower': function(){ if(flag){responsiveVoice.speak("Going to shower service."); document.getElementById("formShower").submit();}},
      'eat': function(){ if(flag){responsiveVoice.speak("Going to eat service."); document.getElementById("formEat").submit();}},
      'bed': function(){ if(flag){responsiveVoice.speak("Going to bed service."); document.getElementById("formBed").submit();}},
      'help': function(){ if(flag){responsiveVoice.speak("To load a service, just say health or shower or eat or bed. In case of emergency, call 112.");}}
      };
    };

    // ajout des commandes et écoute
    annyang.addCommands(commands);
    annyang.start();

  h1#msg_h1 #{title}
  br
  h2#msg_h2 If you need help, we care about you :)
  br
  .row
    .col-md-3

    form#formHealth(action='/health', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="/images/hospital.svg", border="0", alt="Logo de santé")

    .col-md-2

    form#formBed(action='/bed', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/sleeping-bed-silhouette.svg", border="0", alt="Logo de lit")

    .col-md-3
  br
  br
  br
  .row
    .col-md-3

    form#formShower(action='/shower', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/shower.svg", border="0", alt="Logo de douche")

    .col-md-2

    form#formEat(action='/eat', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/restaurant.svg", border="0", alt="Logo de repas")

    .col-md-3

  script.
    window.onload = function() {
      var geoSuccess = function(position) {
        startPos = position;
        document.getElementById('startLat').value = startPos.coords.latitude;
        document.getElementById('startLon').value = startPos.coords.longitude;
      };

      navigator.geolocation.getCurrentPosition(geoSuccess);
    };
