extends layout

block content
  script(src="https://code.responsivevoice.org/responsivevoice.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js")
  script.
    if (annyang) {
    // Let's define a command.
    var commands = {
      'hello': function() { console.log('Hello world!'); },
      'health': function(){ responsiveVoice.speak("You are now reaching the page to get healed"); this.document.location.href = '/soins';},
      'shower': function(){ responsiveVoice.speak("You are reaching the page to find a place to shower."); this.document.location.href = '/laver';},
      'eat': function(){ responsiveVoice.speak("You are reaching the page to help you find a place to eat"); this.document.location.href = '/manger';},
      'bed': function(){ responsiveVoice.speak("You are reaching the page to help you find a place to sleep"); this.document.location.href = '/lit';},
      'help': function(){ responsiveVoice.speak("To load a page just say health or shower or eat or bed.");}
      };
    };

    // Add our commands to annyang
    annyang.addCommands(commands);

    annyang.addCallback('result', function(phrases) {
      console.log("I think the user said: ", phrases[0]);
      console.log("But then again, it could be any of the following: ", phrases);
    });

    // Start listening.
    annyang.start();

  h1= title
  h2#msg_h2
    | Need help ?
  .row
    .col-md-3

    form(action='/health', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="/images/hospital.svg", border="0", alt="Submit")

    .col-md-2

    form(action='/bed', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/sleeping-bed-silhouette.svg", border="0", alt="Submit")

    .col-md-3
  br
  br
  br
  .row
    .col-md-3

    form(action='/shower', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/shower.svg", border="0", alt="Submit")

    .col-md-2

    form(action='/eat', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/restaurant.svg", border="0", alt="Submit")

    .col-md-3

  .row
    if(user)
      h2#msg_h2
        | Welcome back #{user.name} :)
      p
        | Do you want to go to your&nbsp;
        a(href="/asso") admin. page
        | &nbsp;?
    if(!user)
      h2#msg_h2
        | Want to help ?
      p You're a organisation that want to act for refugees ? We need you ! &nbsp;
        a(href="/register") Subscribe here to offer your services !
      br
      p Already a member ? Just&nbsp;
        a(href="/login") log in !

  script.
    window.onload = function() {
      var geoSuccess = function(position) {
        startPos = position;
        document.getElementById('startLat').value = startPos.coords.latitude;
        document.getElementById('startLon').value = startPos.coords.longitude;
      };
      
      navigator.geolocation.getCurrentPosition(geoSuccess);
    };
