extends layout

block content


  h1= title
  h2#msg_h2
<<<<<<< HEAD
    | Need help?
  .startLat
  .startLon
=======
    | Need help ?
>>>>>>> 263398e3bb5ed1dd4a027b7b4760f98fb4b72875
  .row
    .col-md-3

    form(action='/health', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="/images/hospital.svg", border="0", alt="Submit")

    .col-md-2

    form(action='/bed', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/sleeping-bed-silhouette.svg", border="0", alt="Submit")

    .col-md-3
  br
  br
  br
  .row
    .col-md-3

    form(action='/shower', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/shower.svg", border="0", alt="Submit")

    .col-md-2

    form(action='/eat', method='post')
      input(type='hidden', id='startLat', name='StartLat', value='')
      input(type='hidden', id='startLon', name='StartLon', value='')
      .col-md-2
        input(type="image", name="submit", src="images/restaurant.svg", border="0", alt="Submit")

    .col-md-3

    .row
      if(user)
        h2#msg_h2
          | Welcome back #{user.name} :)
          p
            | Do you want to go to your&nbsp;
            a(href="/asso") admin. page
            | &nbsp;?
            if(!user)
              h2#msg_h2
                | Want to help ?
                p You're a organisation that want to act for refugees ? We need you ! &nbsp;
                a(href="/register") Subscribe here to offer your services !
                br
                  p Already a member ? Just&nbsp;
                  a(href="/login") log in !


  script.
    window.onload = function() {
      var geoSuccess = function(position) {
        startPos = position;
        document.getElementById('startLat').value = startPos.coords.latitude;
        document.getElementById('startLon').value = startPos.coords.longitude;
      };

      navigator.geolocation.getCurrentPosition(geoSuccess);
    };
