html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#msg_h2{
  text-align: center;
  font-weight: bold;
}

p{
  text-align: center;
  font-size: 26px;
}

#map {
  height: 80%;
  width: 80%;
}
